/* ul{
    display:flex;
    justify-content: space-around;
   align-items: flex-start;
/* gap:1.5rem; */

/* }
    .two ul li{
        list-style-type: disc;

    }  */
      *{
        margin: 0;
        padding: 0;
      }
body {
    margin: 25px;
    background-color: #f9f9f9;
    padding: 20px;
}
ul{
    margin-left: 15px;
}
ul li{
    margin-top: 15px;
}
a {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}
footer{
    text-align: center;
    padding: 15px;
    color:#777;
}
section{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    padding: 15px;
}
section p{
    padding:5px;
    text-align: justify;
    
}